tr  {
    text-align: center;
}
th {
    text-align: center;
}
a :hover{
    cursor: pointer;
    color: blue;
}
.text-center{
   position: relative;
   left: 20%;
   width: 1000px;
   top: 50px;
}
span:hover{
    cursor: pointer;
    color: black;
}